

.container{
    padding: 20px;
    border: solid 3px;
    border-color: #FFCA0F;
    border-radius: 20px;
    margin-left: 70px;
    margin-right: 70px;
}

.date {
    background-color: black; 
    color: white; 
    height: 30px;
    width: 90px;
    margin: 10px;
    border: dotted #FFCA0F;
    border-radius: 20px;
    padding-left: 20px;

}

.dateContainer{
    display: flex;
    margin-left: 70px;
    margin-right: 70px;
}